.createPost {
    position: relative;
    width: 100%;
    background-color: #1d1d1d;
    margin-top: 20px;
    height: 15%;
    color: blanchedalmond;
    padding: 10px 10px 0px 10px;
    z-index: 100;
}

.buttons {
    background-color: #1d1d1d;
    display: flex;
    margin-left: 20%;

}

.button {
    width: 30%;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin-left: 5px;
    background-color: #1d1d1d;
}

.button:hover {
    background-color: green;
}

.InputDiv {
    position: relative;
    background-color: #0c0d0c;
    width: 80%;
    height: 30px;
    margin-left: 90px;
    margin-top: 3px;
    border-radius: 30px;
    padding-left: 20px;
    color: #9b9292;
}