.image {
    position: relative;
    margin-left: 4%;
    width: 30px;
    height: 30px !important;
}

.nav {
    display: flex;
    margin-top: -36px;
    margin-left: 15%;

}

.Input {
    margin-left: 4%;
    width: 500px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;

}