.createPost {
  position: absolute;
  width: 40%;
  background-color: #1d1d1d;
  height: 80px;
  color: blanchedalmond;
  padding: 10px 10px 0px 10px;
  border-radius: 10px;
}

.buttons {
  background-color: #1d1d1d;
  display: flex;
  margin-left: 10%;
}

.button {
  width: 100%;
  color: white;
  text-align: center;
  border-radius: 10px;
  background-color: #1d1d1d;
  cursor: pointer;
  padding-left: 50px;
  padding-right: 50px;
}

.button:hover {
  background-color: green;
}

.InputDiv {
  position: relative;
  background-color: #0c0d0c;
  width: 100%;
  height: 30px;
  margin-left: 20px;
  margin-top: 3px;
  border-radius: 30px;
  padding-left: 20px;
  color: #9b9292;
}
